<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>Moment Sun</title>
</head>
<body>
    <header>
        <nav>
            <a href="/categorias">Categorias</a>
            <a href="/productos">Productos</a>
            <a href="/imagenes">Imagenes</a>
        </nav>
    </header>
    
    <div class="encabezado-img">
        <p>Bienvenidos</p>
        <h1>Moment Sun</h1>
        <p>¡Solicita tu panel!</p>
    </div>

    <article>
        <section>
            <p>Sabemos que el buen manejo y la distribución de productos de calidad en paneles solares es fundamental para 
                garantizar que nuestros clientes reciban un producto que cumpla con sus expectativas y que sea duradero. 
                Esto es especialmente importante en el caso de los paneles solares, que son una inversión importante 
                para los hogares y las empresas.<br>
            
            <br><h1>Nuestras redes sociales</h1>
        <nav>
            <a href="https://www.facebook.com/?wtsid=rdr_003SWaduYCEaGQqkq"><br>
                <p style="font-size: small;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbpJREFUSEu11U+IjlEUx/HPlELGQjZCmo3FFMmSlCyEpCGzENlQyEImJQv5kyzUCAtmahY2ykLUTP6syELWlv6WCBsLiymK0Kn76un2PPd5X8zd3XvO+X3vufeec/vM8OibYX1tgNnYic1YhQH8wls8wwPcwfemjZYAW3AtiZYSfY1DeFjn1AQ4g9M9HN9PHMfFPKYOcBanehCvuh7FlepCDtiGqYL4ZxzDY7xLfqNpLaaRyXo86WhUAf14hUUNgB9YgReZvQoIU9hXdi6+CoiLGivs/iZ2V+wbsRabsCaL247JWKsC7mJrAXAS55N9GLcKvhM4kAM+YHEhaASXkz0u81LBN2pkdQ74ijn/CfAFC3LANOZlgE8tWYX7I2zI4kJrfg54ieWZ40csaamJ91ia+TzHYA64gT09ZhC96lvNBq5jXw7YhXiKTaOXS659prPwBssaCN0C/hxPnkHMo4Pe/wdAtPJ1eNrRqGt20ayO1EC6yeBc3ijrALE23qnECqgNcAEn8o2VPpy9qVoXpqAmQHSAg7hXd7RtX+Zc7MeO9DVeTSKHMYTbiCf5V19mS311Z27LoDuVgtdvdh5WGZl8sDgAAAAASUVORK5CYII="/><br>
                MomentSun@gmail.com</p>
            </a>
            
            <a href="https://www.instagram.com/"><br>
                <p style="font-size: small;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAg5JREFUSEvF1UnIT1EYBvDfhyLjxtJUhpCESBIWSCnJkHlvWCgyFNmJDCEryk6mjFE27EQSSRkTSVnITlbmHp1/3W7/2/elvr5Tt///nnPe93ne53nPuR26eXR0c349BjAa2zEHk2gk8gfPcQ8n8LauSLsKNuEk+uAjHuJ1g5TTMAXD8QNbcKa6tw4wvSR8iWV410WPUuVNjMAMPG3F1QGuYTHG40MXkg/EaTwoz2PcwIomgCQN+4BURy8sxET8wivcxbgiXwBmIwBDMaoJ4CvOYXMle/S9hFk10Bi7Fv3xGYmNAoswoAngN45iV9kQ5vcLox24g96lmsOla+Yi3ZQRIivLnn8TdQ+y8SD2lIBVJSi/l2sVrMZFLC0GZ/kCMh9ijQBhtrus5/9ODMK3GkC0/oL92FfWIu+6KvF2FeTAbCsBh4pcQ4rGVYwWwAHsLQtnsaEzgOPlFCcm7Xal6Hq1VkGYhnFVoryv6cyDagUtk0cWqWJyTvgCHMEbzKuZHMB+TR5E57DYWGE7rJiZPq+OVpt+qkymTecjkrY1OZdVnnYHLcyW4Dtu41aFeSvfEwzG2CaAsF+OCV28KqoVTcYznMf6JoCpCItsjMHva7I0vSb5dcSrmSVHW4ky2bquY/CjIknmf+IF+mJMMTvzuSpyC2d9K05VWTR90f7ng3Os3fXeY5/MLkrf+bZur+AvtvZzGT8fy3AAAAAASUVORK5CYII="/><br>
                Moment_Sun12</p>
            </a>

            <a href="https://twitter.com/"><br>
                <p style="font-size: small;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYpJREFUSEvd1bFLVmEUx/HPa0GC0VRDoJhBRFAR4aSjERSBKSFF0JCDSHtRFP4BujgoLRGBS4uDIDS4iLiEgVFDk1EQBeEkQZqgHLgvXG73Xu/7wrv4bPc5z/l9n3Oec86tafGqtVjf4QN04M8BaTuBCdxCD/5hBs9wGoPJ917opFN0BJ8xgk8lkCUM5Ni/owv38LZuTwPO4Ct+YwirOSJX8aEEvoZlzGE9G0E7tnA0EXiFF/iZEryfOBcxIr2P8CYvgtiLW/dlvFewgPe4gumSCF7jYdqeTtFxnMc7nGyyPybxuAjQiW/YxKkmAZGe2SJAGzbQ3aR4uF3AlyJA7A8nJVZ/6EZYUYFnsw55oyL64DkuNaKOcbysAriJxQbFo8nOYacKIM5EHT+oCNlFf1LG/7kUTdN48It4irsloJg3o4j6z115gBh4vXiCGyXifxGdPV8WaRpwDVO4nBmCef7RjGOI3JeubAQxiu/gNq7jGLbxCz8QkzRu/PEg4br98P3RqkZe+VzLU7QP6ls9Gf+7N38AAAAASUVORK5CYII="/><br>
                MomentSunPaneles_2023</p>
            </a>
        </nav>

        </section>
    </article>

</body>
</html>