<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Imagen</title>

    <header>
      <nav>
        <h1>Editar Imagen</h1>
          <a href="/home">Home</a>
          <a href="/imagenes">Volver</a>
      </nav>
    </header>
    <style>

    body {
      font-family: sans-serif;
      background-color: #ffffff;
      margin:  0;
      padding: 0;
    }
    
    form {
      width: 500px;
      margin: 2.5em auto;
      background-color: #f2f2f2;
      padding: 30px;
      border-radius: 4px;
    }

    input, textarea {
      width: 94%;
      padding: 15px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
    
    header nav a:hover{
      background-color: black;
      color: white;
    }
    
    button {
      background-color: #181e1f;
      color: #ffffff;
      font-size: 18px;
      padding: 10px;
      border-radius: 5px;
      display: block;
      padding: 0.5rem 1rem;
      width: 200px;
      margin: 0 auto;
    }
         
    header{
      background-color: #f2f2f2;
      text-align: center;
      padding: 25px 0;
    }

    nav a{
      display: inline-block;
      text-decoration: none;
      color: #696969;
      margin: 0 40px;
      padding: 5px 15px;
      border-radius: 30px;
    }
    
    
    </style>
  </head>
<body>
    <div>
        <form action="/updateimg/<%= imagenes.id %>" method="post">
            <input type="text" name="url" id="url" value="<%= imagenes.url %>" required maxlength="900" minlength="3">
            <select name="destacado" id="destacado">
                <option value="">--Destacado--</option>
                <option value="Si">Si</option>
                <option value="No">NO</option>
            </select><br>
            <br><button type="submit" class="btn btn-primary">Actualizar Imagen</button>
        </form>
    </div>
</body>
</html>