<!DOCTYPE html>
<html>
  <head>
    <title>P3_30705074</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo</h1>
    <p>Genesis Linares</p>
    <p>Cedula 30705074</p>
    <p>Seccion 2</p>
  </body>
</html>
