<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Moment Sun</title>


</head>

<form class="container" name="formulario" action="/login2" method="post"></form>
<body>
  <form class="form" action="/login2" method="post">
    <h2 class="form_title">Inicie Sesión</h2>

<div class="form_container">
    <div class="form_group">
      <input type="email" name="email" id="email" maxlength="25" class="form_input" placeholder="" required>
      <label for="user" class="form_label">Email</label>
      <span class="form_line"></span>
    </div>

    <div class="form_group">
      <input type="password" name="password" id="password" class="form_input" placeholder="" required>
      <label for="password" class="form_label">Contraseña</label>
      <span class="form_line"></span>
    </div>

    <input class="form_submit" type="submit" value="Iniciar Sesión">
  </div><br>

  <a href="/registerclientes" style="color: rgb(8, 6, 6);">¿Aún no tienes cuenta?</a>
  <a href="/recuperar" style="color: rgb(22, 15, 15);">¿Haz olvidado la contraseña?</a>

  <br><a href="/"> Volver al Catalogo</a>
</form>

</body>
</html>